{% extends 'base.html' %}

{% block content %}

<span class="container">
    <span class="title-container">
        <span class="title">Introducing AI Chatbot</span>
        <p class="subtitle">Intelligent College Enquiry Assistant: Your AI Chatbot for Seamless Information and Support</p>
        <a href="{% url 'chat' %}">
            <button class="button-57" role="button"><span class="text">Get Started</span><span>Start
                    Chatting</span></button>
        </a>
    </span>
</span>

{% endblock content %}